@import "../../../../../node_modules/canvas-chessboard/src/font/chess-figurine.css";

$cwc = var(--cell-white-color);
$cbc = var(--cell-black-color);
$pwc = var(--white-color);
$pbc = var(--black-color);


:host {
  display: flex;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.white {
  background: $cwc;
}

.black {
  background: $cbc;
}

.pc-w {
  color: $pwc;
}

.pc-b {
  color: $pbc;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.figurine {
  font-family: 'chess-figurine';
  font-style: normal;

  .pc-b & { text-shadow: 1px 1px 0px $pwc, -1px -1px 0px $pwc, -1px 1px 0px $pwc, 1px -1px 0px $pwc; }
  .pc-w & { text-shadow: 1px 1px 0px $pbc, -1px -1px 0px $pbc, -1px 1px 0px $pbc, 1px -1px 0px $pbc; }

  .clockwise45         & { transform: rotateZ(45deg); }
  .clockwise90         & { transform: rotateZ(90deg); }
  .clockwise135        & { transform: rotateZ(135deg); }
  .upsidedown          & { transform: rotateZ(180deg); }
  .counterclockwise45  & { transform: rotateZ(-45deg); }
  .counterclockwise90  & { transform: rotateZ(-90deg); }
  .counterclockwise135 & { transform: rotateZ(-135deg); }
}
