<mat-sidenav-container fullscreen id="app-main" class="sidenav-container">
  <mat-sidenav
    (click)="drawer.mode === 'over' && drawer.toggle()"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="main-app-toolbar mat-elevation-z4">
      <mat-toolbar-row style="-webkit-app-region: drag;">
        <lib-sp-toolbar-button
          (click)="drawer.toggle()"
          color="accent"
          iconText="menu"
        ></lib-sp-toolbar-button>
        <div class="app-title">
          <span>Scacchi Painter</span>
          <sub>{{fileName}}</sub>
        </div>
        <lib-sp-toolbar-button
          *ngIf="hasCloseButton"
          (click)="closeMe()"
          color="accent"
          type="inset"
          iconText="close"
        ></lib-sp-toolbar-button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
