.mat-icon
  font-size 2.0rem
  display flex
  justify-content center
  align-items center
  height 3.2rem
  width 3.2rem

:host
  display: inline-flex;

button
  padding 0
  margin .2rem

.icon_text
  display flex
  flex-direction column
  align-items center
  justify-content center
