@use "../../../../mediaquery" as mq;

:host {
  display: contents;
}

h1.title {
  text-shadow: -1px -1px 1px grey, 1px 1px 0px black;
  opacity: 0.8;
  padding: 1rem;
  grid-area: toolbar;
}

.sources {
  grid-area: side;
}

.explorer {
  grid-area: main;
}
