:host {
  display: block;
  font-size: (100/18)vmin;
  max-width: 70vmin;
  margin: 0 auto;
}

.chessboard {
  display: grid;
  border: solid 1px #294053;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.current {
  outline: solid 2px red;
  z-index: 1;
}

.clickable {
  cursor: pointer;
}
