:host {
  display: block;
  font-size: (100 / 16)vmin;
  max-width: 80vmin;
}

.chessboard {
  display: grid;
  border: solid 1px #294053;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: 10px;
}
