
<section id="toolbar">
  <mat-toolbar class="toolbar-row" color="secondary">
    <mat-toolbar-row>
      <mat-label>List of problems</mat-label>
    </mat-toolbar-row>
  </mat-toolbar>
</section>

<section id="sidebar">
  <mat-form-field>
    <mat-label>Search for problem</mat-label>
    <input matInput [value]="searchValue" (change)="valueChange($event)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Example: Hm#3 or d2-d3</mat-hint>
  </mat-form-field>
</section>

<cdk-virtual-scroll-viewport itemSize="256" class="dblist">
  <div
    class="dbitem-container"
    *cdkVirtualFor="let item of itemSource; let index = index"
  >
    <div *ngIf="item.problem === null" class="add-item"><button
      class="add-item-button" mat-button (click)="createNewPosition()">
      <mat-icon>library_add</mat-icon>
      add new problem
    </button></div>
    <app-database-list-item (delete)="deleteItem($event)" *ngIf="item.problem !== null" [problem]="item.problem" [dbIndex]="item.dbIndex"></app-database-list-item>
  </div>
</cdk-virtual-scroll-viewport>
