<h1>List of problems</h1>
<cdk-virtual-scroll-viewport itemSize="256" class="dblist">
  <div
    class="dbitem-container"
    *cdkVirtualFor="let item of itemSource; let index = index"
  >
    <div class="dbitem">
      <lib-chessboard
        hideInfo="true"
        boardType="HTML"
        class="miniboard"
        [position]="item"
      ></lib-chessboard>
      <div class="description"></div>
      <a mat-icon-button color="accent" [routerLink]="['/view/' + realIndex(index)]">
        <mat-icon class="action">forward</mat-icon>
      </a>
    </div>
    <div class="dbitem-status">
      <span class="status-index">{{ realIndex(index) }}</span>
      <span class="status-stipulation"><span>{{ stipulation(item) }}</span><span>{{ pieceCounter(item) }}</span></span>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
