@import "../../../../mediaquery.less";
@import "../../../../toolbarcommon.less";

:host{
  position: relative;
  display: grid;
  .containerMinHeight();

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  #toolbar {
    grid-column-start: span 2;
    grid-row-start: 1;
  }

  #sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .dblist {
    grid-column-start: 2;
    grid-row-start: 2;
  }


  @media (max-width: @smallScreen) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    #toolbar {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    #sidebar {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    .dblist {
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }
}

.toolbar();

.dbitem-container{
  height: 16rem;
  margin: 1rem 1rem 0 1rem;
  border: solid 1px rgba(255,255,255,.3);
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: calc(100vw - 3rem);
  background-color: #303030;
}

.add-item {
  height: 100%;
  background-color: #303030;
}

.add-item-button {
  width: 100%;
  height: 100%;
}
