/* You can add global styles to this file, and also import other style files */
:root {
  --cell-white-color: #f9f9f9;
  --cell-black-color: #9f9f9f;
  --white-color: #ffffff;
  --black-color: #294053;
}

html {
  font-family: "Roboto";
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
