.lib-toolbar {
  display: flex;
  padding: .1rem;
  justify-content: flex-end;
  align-items: center;

  button {
    padding: 0;
  }
  .mat-icon {
    font-size: 3.2rem;
    height: 3.2rem;
    width: 3.2rem;
  }
}
