/* You can add global styles to this file, and also import other style files */
:root {
  --cell-white-color: white;
  --cell-black-color: #ddd;
  --white-color: white;
  --black-color: #333;
  --neutral-color: green;
}

html
  height 100%
  width 100%
  margin 0
  padding 0

body
  height 100%
  width 100%
  margin 0
  padding 0

div[fullscreen]
  position absolute
  top 0; right 0; bottom 0; left 0;

.figurine
  color var(--black-color)
  font-family "ScacchiPainter"
  font-style normal
  font-weight normal
  height 1.42em
  width 1.42em
  position relative
  display block
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.figurine:after,
.figurine:before {
  height: 1em;
  width: 1em;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: absolute;
  display: inline-block;
}

.figurine:before {
  color: var(--white-color);
  content: "__" attr(data-piece);
}
.figurine:after {
  content: attr(data-color) "_" attr(data-piece);
}


.mat-tab-body-wrapper
  flex 1 1 auto

.mat-tab-body-content
  display flex
  flex-direction column

:focus {
  outline: none;
}
