/* You can add global styles to this file, and also import other style files */
:root {
  --cell-white-color: white;
  --cell-black-color: #ddd;
  --white-color: white;
  --black-color: #333;
  --neutral-color: green;
}
div[fullscreen] {
  position absolute
  top 0; right 0; bottom 0; left 0;
}
