/* You can add global styles to this file, and also import other style files */
:root {
  --cell-white-color: white;
  --cell-black-color: #9f9f9f;
  --white-color: white;
  --black-color: #333;
  --neutral-color: green;
}
