<div>
  <section id="toolbar">
    <mat-toolbar>
      <lib-toolbar-db
        [hideLabels]="true"
        [boardType]="chessBoardType"
        (action)="tlbAction($event)"
      ></lib-toolbar-db>
    </mat-toolbar>
  </section>
  <div class="workboard">
    <section id="chessboard">
      <lib-chessboard
        class="lib-chessboard"
        [position]="problem"
        [boardType]="chessBoardType"
      ></lib-chessboard>
      <lib-problem-info></lib-problem-info>
    </section>
    <section id="info">
      <lib-sp-solution-desc [problem]="problem"></lib-sp-solution-desc>
    </section>
  </div>
  <button mat-fab mat-elevation-z8 class="editbtn" [routerLink]="['../../edit/' + (id + 1)]">
    <mat-icon>edit</mat-icon>
  </button>
</div>
