<div class="problem-editor">
  <section id="toolbar">
    <mat-toolbar>
      <lib-toolbar-engine
        *ngIf="engineEnabled"
        (startSolve)="startSolve()"
        (stopSolve)="stopSolve()"
        [isRunning]="solveInProgress"
        [hideLabels]="true"
      ></lib-toolbar-engine>
      <lib-toolbar-edit
        (switchBoardType)="switchBoardType()"
        (editCommand)="editCommand($event)"
      ></lib-toolbar-edit>
    </mat-toolbar>
  </section>
  <div class="workboard" (mousemove)="resize($event)">
    <section id="chessboard" #panelright>
      <lib-chessboard
        class="lib-chessboard"
        [position]="problem"
        [boardType]="boardType"
        [cursor]="pieceToAdd"
        (contextmenu)="onTriggerContextMenu($event)"
      ></lib-chessboard>
      <lib-piece-selector (selectedPieceChanged)="setPieceToAdd($event)"></lib-piece-selector>
      <ul class="solution-row" *ngFor="let row of rows$ | async">
        <li>{{ row }}</li>
      </ul>
    </section>
    <div
      #verticalSplitter
      (mouseleave)="leaveResize()"
      (mouseenter)="clearResizeLeave()"
      (mousedown)="startResize($event)"
      (mouseup)="endResize()"
      class="vertical-splitter"
    ></div>
    <section id="info">
      <lib-sp-solution-desc [problem]="problem"></lib-sp-solution-desc>
    </section>
  </div>
</div>
<mat-menu #contextmenu>
  <div>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon><span>Remove</span>
    </button>
  </div>
</mat-menu>
<div
  [matMenuTriggerFor]="contextmenu"
  [style.position]="'absolute'"
  [style.left.px]="menuX"
  [style.top.px]="menuY"
></div>
