<div>
  <section id="toolbar">
    <mat-toolbar>
      <lib-toolbar-edit></lib-toolbar-edit>
      <lib-toolbar-engine
        (startSolve)="startSolve()"
        (stopSolve)="stopSolve()"
        [isRunning]="solveInProgress"
        [hideLabels]="true"
      ></lib-toolbar-engine>
    </mat-toolbar>
  </section>
  <div class="workboard">
    <section id="chessboard">
      <lib-chessboard
        class="lib-chessboard"
        [position]="problem"
        boardType="HTML"
      ></lib-chessboard>
      <ul class="solution-row" *ngFor="let row of rows$ | async">
        <li>{{row}}</li>
      </ul>
    </section>
    <section id="info">
      <lib-sp-solution-desc [problem]="problem"></lib-sp-solution-desc>
    </section>
  </div>
</div>
