<section id="toolbar">
  <mat-toolbar class="toolbar-row" color="secondary">
    <lib-toolbar-edit
      (switchBoardType)="switchBoardType()"
      (editCommand)="editCommand($event)"
      [editMode]="editMode"
      (editModeChanged)="editModeChanged($event)"
    ></lib-toolbar-edit>
  </mat-toolbar>
</section>
<div class="workboard" #workboard>
  <section id="chessboard" #panelleft>
    <div class="chessboard-workarea">
      <lib-chessboard
        class="lib-chessboard"
        [position]="problem"
        [boardType]="boardType"
        [cursor]="boardCursor"
        (cellMiddleClick)="clickOnCell($event, 'middle')"
        (contextOnCell)="onTriggerContextMenu($event)"
        (currentCellChanged)="currentCellChange($event)"
        (cellClick)="clickOnCell($event, 'left')"
        (focusOut)="boardBlur()"
      ></lib-chessboard>
      <section id="pieceselector">
        <lib-piece-selector
          (selectedPieceChanged)="setPieceToAdd($event)"
          [current]="pieceToAdd"
        ></lib-piece-selector>
      </section>
    </div>
  </section>
  <div
    #verticalSplitter
    (mousedown)="startResize($event)"
    class="vertical-splitter"
  ></div>
  <section id="info">
    <mat-tab-group class="tab-group" dynamicHeight="false">
      <mat-tab label="Problem Data">
        <ng-template matTabContent>
          <div class="tab-content">
            <lib-problem-info
              (openTwin)="openTwinDialog($event)"
              (deleteTwin)="deleteTwin($event)"
              (addCondition)="openConditionDialog()"
              (deleteCondition)="deleteCondition($event)"
              (openAuthor)="openAuthorDialog($event)"
              (deleteAuthor)="deleteAuthor($event)"
            ></lib-problem-info>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Solution">
        <ng-template matTabContent>
          <mat-toolbar class="toolbar-row" color="secondary">
            <lib-toolbar-engine
              *ngIf="engineEnabled"
              [fullLog]="showLog"
              [viewMode]="viewMode"
              (startSolve)="startSolve($event)"
              (stopSolve)="stopSolve()"
              (toggleLog)="toggleLog()"
              (toggleEditor)="changeViewMode($event)"
              [isRunning]="solveInProgress"
              [hideLabels]="true"
            ></lib-toolbar-engine>
          </mat-toolbar>
          <div class="tab-content">
            <lib-sp-solution-desc [viewMode]="viewMode" [showLog]="showLog"></lib-sp-solution-desc>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
<mat-menu #contextmenu>
  <div>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon><span>Remove</span>
    </button>
  </div>
</mat-menu>
<div
  [matMenuTriggerFor]="contextmenu"
  [style.position]="'absolute'"
  [style.left.px]="menuX"
  [style.top.px]="menuY"
></div>
