@import "../../mediaquery"

#chessboard
  width: 27rem;
  padding: .5rem
  flex 0 0 auto

  @media (max-width: $smallScreen )
    width: calc(100% - 1rem)

  .lib-chessboard
    z-index: 1;
    @media (min-width: $smallScreen )
      position sticky
      top .5em

#toolbar
  flex 0 0 auto
  @media (max-width: $smallScreen )
    display none

#info
  padding: .5rem
  flex 1 1 auto
  position relative

.workboard
  display flex
  flex 1 1 auto

  @media (max-width: $smallScreen )
    flex-direction: column

.editbtn
  position fixed
  bottom 1rem
  right 1rem


.solution-row
  list-style none


.problem-editor
  min-height calc(100vh - 4rem)
  display flex
  flex-direction column
.vertical-splitter
  flex 0 0 auto
  width 10px
  background #393939
  cursor ew-resize
