@import "../../mediaquery"

#chessboard
  width: 30vw
  padding: .5rem
  flex 0 0 auto

  @media (max-width: $smallScreen )
    width: calc(100% - 1rem)

  .lib-chessboard
    @media (min-width: $smallScreen )
      position sticky
      top .5em

#toolbar
  @media (max-width: $smallScreen )
    display none

#info
  padding: .5rem
  flex 1 1 auto

.workboard
  display flex

  @media (max-width: $smallScreen )
    flex-direction: column

.editbtn
  position fixed
  bottom 1rem
  right 1rem
