.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.adp-uni41 {
  width: 128px;
  height: 128px;
  background-position: 0 0;
}
.adp-uni42 {
  width: 128px;
  height: 128px;
  background-position: -256px 0;
}
.adp-uni43 {
  width: 128px;
  height: 128px;
  background-position: -512px 0;
}
.adp-uni44 {
  width: 128px;
  height: 128px;
  background-position: -768px 0;
}
.adp-uni45 {
  width: 128px;
  height: 128px;
  background-position: -1024px 0;
}
.adp-uni46 {
  width: 128px;
  height: 128px;
  background-position: -1280px 0;
}
.adp-uni47 {
  width: 128px;
  height: 128px;
  background-position: -1536px 0;
}
.adp-uni48 {
  width: 128px;
  height: 128px;
  background-position: -1792px 0;
}
.adp-uni49 {
  width: 128px;
  height: 128px;
  background-position: -2048px 0;
}
.adp-uni4A {
  width: 128px;
  height: 128px;
  background-position: -2304px 0;
}
.adp-uni4B {
  width: 128px;
  height: 128px;
  background-position: -2560px 0;
}
.adp-uni4C {
  width: 128px;
  height: 128px;
  background-position: -2816px 0;
}
.adp-uni4D {
  width: 128px;
  height: 128px;
  background-position: -3072px 0;
}
.adp-uni4E {
  width: 128px;
  height: 128px;
  background-position: -3328px 0;
}
.adp-uni4F {
  width: 128px;
  height: 128px;
  background-position: -3584px 0;
}
.adp-uni50 {
  width: 128px;
  height: 128px;
  background-position: -3840px 0;
}
.adp-uni51 {
  width: 128px;
  height: 128px;
  background-position: -4096px 0;
}
.adp-uni52 {
  width: 128px;
  height: 128px;
  background-position: -4352px 0;
}
.adp-uni53 {
  width: 128px;
  height: 128px;
  background-position: -4608px 0;
}
.adp-uni54 {
  width: 128px;
  height: 128px;
  background-position: -4864px 0;
}
.adp-uni55 {
  width: 128px;
  height: 128px;
  background-position: -5120px 0;
}
.adp-uni56 {
  width: 128px;
  height: 128px;
  background-position: -5376px 0;
}
.adp-uni57 {
  width: 128px;
  height: 128px;
  background-position: -5632px 0;
}
.adp-uni58 {
  width: 128px;
  height: 128px;
  background-position: -5888px 0;
}
.adp-uni59 {
  width: 128px;
  height: 128px;
  background-position: -6144px 0;
}
.adp-uni5A {
  width: 128px;
  height: 128px;
  background-position: -6400px 0;
}
.adp-uni61 {
  width: 128px;
  height: 128px;
  background-position: -6656px 0;
}
.adp-uni62 {
  width: 128px;
  height: 128px;
  background-position: -6912px 0;
}
.adp-uni63 {
  width: 128px;
  height: 128px;
  background-position: -7168px 0;
}
.adp-uni64 {
  width: 128px;
  height: 128px;
  background-position: -7424px 0;
}
.adp-uni65 {
  width: 128px;
  height: 128px;
  background-position: -7680px 0;
}
.adp-uni66 {
  width: 128px;
  height: 128px;
  background-position: -7936px 0;
}
.adp-uni67 {
  width: 128px;
  height: 128px;
  background-position: -8192px 0;
}
.adp-uni68 {
  width: 128px;
  height: 128px;
  background-position: -8448px 0;
}
.adp-uni69 {
  width: 128px;
  height: 128px;
  background-position: -8704px 0;
}
.adp-uni6A {
  width: 128px;
  height: 128px;
  background-position: -8960px 0;
}

