@import "../../../../mediaquery"
:host
  display: contents;

.sp-toolbar-label
  display inline-flex
  margin .3rem

[data-rotate="90"]
  transform rotateZ(90deg)


.boardtype_switch
  @media (max-width: $smallScreen)
    display none
