<section id="toolbar">
  <mat-toolbar class="toolbar-row" color="secondary">
    <mat-toolbar-row>
      <mat-label>List of problems</mat-label>
    </mat-toolbar-row>
  </mat-toolbar>
</section>

<section id="searchbar">
  <mat-form-field>
    <mat-label>Search for problem</mat-label>
    <input matInput [value]="searchValue()" (change)="valueChange($event)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Example: Hm#3 or d2-d3</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select [value]="sortValue()" (selectionChange)="sortChange($event)">
      <mat-option value="date">Date Ascending</mat-option>
      <mat-option value="date-desc">Date Descending</mat-option>
      <mat-option value="id">Id Ascending</mat-option>
      <mat-option value="id-desc">Id Descending</mat-option>
      <mat-option value="personalid">Personal Id Ascending</mat-option>
      <mat-option value="personalid-desc">Personal Id Descending</mat-option>
    </mat-select>
    <mat-icon matSuffix>sort</mat-icon>
    <mat-hint>Example: Date or Difficulty</mat-hint>
  </mat-form-field>
</section>

<div class="add-item">
  <button class="add-item-button" mat-button (click)="createNewPosition()">
    <mat-icon>library_add</mat-icon>
    add new problem
  </button>
</div>

<cdk-virtual-scroll-viewport id="dbScrollViewport" [itemSize]="1" class="dblist">
  <div class="dbitem-container" #dbItemContainer *cdkVirtualFor="let item of itemSource; let index = index">
    <app-database-list-item (delete)="deleteItem($event)" [problem]="item!.problem!"
      [dbIndex]="item!.dbIndex"></app-database-list-item>
  </div>
</cdk-virtual-scroll-viewport>
