@import "../../../../mediaquery.less";

.landing{
  display: flex;
  flex-direction: row;
  .containerMinHeight();

  @media (max-width: (@smallScreen)){
    flex-direction: column;
  }

  .recents{
    padding: 1rem;
    flex: 0 0 auto;
    width: 30rem;
    border-right: solid 1px rgba(255,255,255,.2);
  }
  .news {
    padding: 1rem;
    flex: 1 1 auto;
  }
}
