<div cols="2">
  <section id="toolbar">
    <mat-toolbar>
      <lib-toolbar
        [hideLabels]="true"
        [boardType]="chessBoardType"
        (action)="tlbAction($event)"
      ></lib-toolbar>
    </mat-toolbar>
  </section>
  <div class="workboard">
    <section id="chessboard">
      <lib-chessboard
        [position]="problem"
        [boardType]="chessBoardType"
      ></lib-chessboard>
    </section>
    <section id="info">
      <lib-sp-solution-desc [problem]="problem"></lib-sp-solution-desc>
    </section>
  </div>
</div>
