<div>
  <div>
    <h1 class="title">Save to:</h1>
    <lib-file-source-selector hideNew="true" (sourceSelected)="sourceSelected($event)"></lib-file-source-selector>
  </div>
  <div>
    <h1 class="title">Save as:</h1>
    <input mat-input type="text" [(value)]="fileName" />
  </div>
  <div *ngIf="showFilePicker">
    <a mat-stroked-button (click)="saveFile()">
      <span class="open-button">
        <mat-icon svgIcon="onedrive_icon"></mat-icon>
        <span>OneDrive</span>
      </span>
    </a>
    <lib-file-explorer
      mode="save"
      [service]="currentFileService"
      (folderChanged)="expandFolder($event)"
    ></lib-file-explorer>
  </div>
</div>
