@use "../../../../mediaquery" as mq;

:host {
  display: contents;
}

.title {
  grid-area: toolbar;
}

.fileSaveToolbar {
  grid-area: toolbar;
}

.file-source-selector-container {
  grid-area: side;
}

.file-explorer-container {
  grid-area: main;
}

.saveinput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;

  >* {
    margin: 0 1rem;
  }

  >mat-form-field {
    flex: 1 1 auto;
  }
}

.open-button {
  display: inline-flex;
  align-items: center;

  >mat-icon {
    margin-right: 0.5rem;

    @media (max-width: mq.$smallScreen) {
      margin-right: 0;
    }
  }

  >span {
    margin-top: 0.1rem;
  }
}

.fileSaveToolbar {
  position: sticky;
  top: 0;

  @media (max-width: mq.$smallScreen) {
    flex-flow: column;
    height: 5.5rem;
    align-items: stretch;
  }
}
