name: Close Pull Request

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  close_pull_request_job:
    runs-on: ubuntu-22.04
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: "/src/Gui/sp-gui.html/sp-gui-angular"
          api_location: "/src/Gui/sp-gui.html/sp-gui-angular/api"
          deployment_environment: "release"
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ORANGE_SEA_080BC3503 }}
          action: "close"
